h1 {
    font-size: 100;
    color: rgb(13, 212, 238);
    margin: 50px;
    text-align: center;
    font-size: 60px;
}

p {
  font-size: 40px;
  color: rgb(26, 166, 221);
}

body { 
  background-image: url(card.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: larger;
  font-style: oblique;
  font-weight: bold;
  opacity: 5.2;
}

a {
  color: lightgreen;
}

#Read {
  
  align-items: center;
  justify-content: center;
  display: flex;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: #069;
  cursor: pointer;
  font-size: 20px;
}

a:hover {
    background-color:rgb(8, 11, 12);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

